<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户信息</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <!-- 使用模板数据 -->
    <div class="root">
        <h3>用户信息</h3> 
        <button onclick="getUser()"></button>
        <!-- <table>
            <tr>
                <th>id</th>
                <th>姓名</th>
                <th>用户名</th>
                <th>组织id</th>
            </tr>
            {% for item in list %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.real_name}}</td>
                <td>{{item.login_name}}</td>
                <td>{{item.organization_id}}</td>
            </tr>
            {% endfor %}
        </table> -->
    </div>
    <script>
        function getUser(){
            var xhr = new XMLHttpRequest();
            xhr.open("get", 'http://127.0.0.1:7001/user', true);
            xhr.send();
            xhr.onreadystatechange = function (){
                if(xhr.readyState === 4 && xhr.status === 200){
                    var res = JSON.parse(xhr.responseText);
                    console.log(res);
                    document.body.innerHTML = res;
                }
            }
        }
    </script>
</body>
</html>